[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
	branch = master
[submodule "site-lisp/monokai-emacs"]
	path = site-lisp/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
	branch = master
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
	branch = master
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
	branch = master
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
	branch = master
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
	branch = master
[submodule "site-lisp/switch-window"]
	path = site-lisp/switch-window
	url = https://github.com/dimitri/switch-window.git
	branch = master
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
	branch = master
[submodule "snippets"]
	path = snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
	branch = master
