[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
	branch = master
[submodule "site-lisp/monokai-emacs"]
	path = site-lisp/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
	branch = master
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
	branch = master
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
	branch = master
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
	branch = master
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
	branch = master
[submodule "site-lisp/switch-window"]
	path = site-lisp/switch-window
	url = https://github.com/dimitri/switch-window.git
	branch = master
[submodule "snippets"]
	path = snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
	branch = master
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
	branch = master
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
	branch = master
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
	branch = master
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
	branch = master
[submodule "site-lisp/auto-java-complete"]
	path = site-lisp/auto-java-complete
	url = https://github.com/emacs-java/auto-java-complete.git
	branch = master
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
	branch = master
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
	branch = master
[submodule "site-lisp/emacs-eclim"]
	path = site-lisp/emacs-eclim
	url = https://github.com/senny/emacs-eclim.git
	branch = master
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
	branch = master
[submodule "site-lisp/badwolf-emacs"]
	path = site-lisp/badwolf-emacs
	url = git@github.com:bkruczyk/badwolf-emacs.git
[submodule "site-lisp/blackboard-theme"]
	path = site-lisp/blackboard-theme
	url = git@github.com:don9z/blackboard-theme.git
